.content{
    display: "flex";
  flex-direction: "column";
  justify-content: center;
    align-items: center;
    text-align: center;
}
.judul{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.paragraph{
    font-size: 1.5em;
    line-height: 1.6;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 380px;
}